<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openbare Bibliotheek Amsterdam</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo" rel="stylesheet">
</head>

<header>

    <img src="/assets/oba-logo.png" alt="Oba-logo">
    <h2>Mijn Oba</h2>
    <h3>Collectie boeken</h3>

</header>

<body>