<%- include('./partials/head.ejs') %>

<main>
    <% results.forEach(result => { %>
        <article>
            <h5><%= result.titles %></h5>
            <img src="<%= result.coverimages %>">
        </article>
    <% }) %>
</main>

<%- include('./partials/foot.ejs') %>