<%- include('./partials/head.ejs') %>

<main>
    <section>
        <h2> Waar ben je naar opzoek:</h2>
        <div>
            <input type="text" placeholder="Ik zoek.."> 
            <button>
                Zoek <span class="material-symbols-outlined">
                    arrow_right
                    </span>
            </button>
        </div>
    </section>

    <section>
        <img src="/assets/content.png"  href="https://www.oba.nl/service/word-lid.html"> 
    </section>

    <section>
        <% results.forEach(result => { %>
            <article>
                <h5><%= result.titles %></h5>
                <img src="<%= result.coverimages %>">
            </article>
        <% }) %>
    </section>

</main>

<%- include('./partials/foot.ejs') %>